*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif;   
  font-size: 12px;
}

header{
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgb(67, 96, 156);
  color: rgb(255,255,255);
}

header .logo-container {
  display: flex;
  width: 700px;  
}

header .logo-container img{
  margin-left: 80px;
}

header .login-container .login{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: 
  "labelName labelPassword ."
  "loginName loginPassword btnLogin"
  ". forgotPassword .";
  column-gap: 15px;
}

header .login-container .login label {
  font-weight: bold;
}

header .login-container .login input{
  width: 147px;
  height: 23px;

  padding-left: 2px;
}

header .login-container .login #labelName{
  grid-area: labelName;
  align-self: center;
}

header .login-container .login #labelPassword{
  grid-area: labelPassword;
  align-self: center;
}

header .login-container .login #loginName{
  grid-area: loginName;
  align-self: center;
}

header .login-container .login #loginPassword{
  grid-area: loginPassword;
  align-self: center;
}

header .login-container .login #loginName:focus,
header .login-container .login #loginPassword:focus{
  outline: none;
}

header .login-container .login #btnLogin{
  grid-area: btnLogin;

  width: 48px;
  height: 23px;

  color: rgb(255,255,255);
  font-weight: bold;
  font-size: 12px;
  background-color: rgb(66, 103, 178);
  border: 1px solid rgb(55, 86, 146);
  border-radius: 3px;

  cursor: pointer;
}

header .login-container .login #btnLogin:hover{
  background-color: rgb(67, 96, 156);
}

header .login-container .login #btnLogin:active{
  outline: none;
}

header .login-container .login #forgotPassword{
  grid-area: forgotPassword;
  align-self: center;

  text-decoration: none;
  font-weight: bold;
  color: rgb(127, 153, 196);
}

header .login-container .login #forgotPassword:hover {
  text-decoration: underline;
}

.content{
  display: flex;
  justify-content: center;

  background: rgb(235,237,240);
  background: linear-gradient(0deg, rgba(235,237,240,1) 66%, rgba(255,255,255,1) 100%);  
}

.content .left-content{
  width: 600px;
  margin-top: 40px;
}

.content .left-content p {
  
  color: rgb(17, 59, 97);
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
}

.content .left-content img {
 width: 100%;
}

.content .right-content{
  width: 400px;
  margin-top: 20px;

  display: flex;
  flex-direction: column;
}

.content .right-content h1{
  font-size: 38px;
  color: rgb(51, 51, 51);
}

.content .right-content p{
  margin-top: 10px;
  margin-bottom: 20px;  
  color: rgb(51, 51, 51);
  font-weight: bold;
  font-size: 16px;
}

.content .right-content form {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.content .right-content form input{
  height: 38px;

  font-size: 18px;
  border-radius: 5px;
  border: 1px solid rgb(218, 223, 233);

  margin-bottom: 10px;
  padding-left: 10px;    
}

.content .right-content form input:focus{
  outline: none;
}


.content .right-content form .name{
  display: flex;
}

.content .right-content form .name input{  
  width: 193px;
}

.content .right-content form .name #surname{
  margin-left: 14px;
}

.content .right-content form #labelBirth{
  font-size: 16px;
  font-weight: bold;
  color: rgb(153, 157, 165);

  margin: 10px 0;
}

.content .right-content form .birthDate select {
  height: 38px;  
  font-size: 18px;
  color: rgb(59, 59, 59);

  cursor: pointer;
}

.content .right-content form .birthDate select:focus {
  outline: none;
}

.content .right-content form #terms{
  font-size: 10px;
  line-height: 14px;
  color: rgb(134, 135, 136);
}

.content .right-content form a {
  color: rgb(118, 141, 185);
  text-decoration: none;
}

.content .right-content form #btnRegister{
  height: 38px;
  width: 194px;

  background-color: rgb(96, 158, 77);
  border: 1px solid;
  border-radius: 5px;
  border-top-color: rgb(95, 149, 76);
  border-left-color: rgb(144, 184, 138);
  border-right-color: rgb(80, 138, 58);
  border-bottom-color: rgb(154, 171, 157);

  font-size: 19px;
  color: rgb(255,255,255);
  cursor: pointer;
}

.content .right-content form #btnRegister:hover{
  background-color: rgba(96, 158, 77, 0.8);
}

.content .right-content #businessRegister {
  color: rgb(112, 113, 114);
  font-weight: bold;
  font-size: 12px;

  margin-top: 40px;
  margin-bottom: 50px;
}

.content .right-content #businessRegister a {  
  text-decoration: none;
  color: rgb(86, 112, 166);
  font-weight: bold;
}

.content .mobile-content{
  display: none;
}

.map-site{
  width: 1000px;
  display: flex;
  flex-direction: column;  
  align-items: flex-start;

  margin: 0 auto;
  background: rgb(255, 255, 255);

}

.map-site a,
.map-site a .language{
  text-decoration: none;
  color: rgb(67, 96, 156);
}

.map-site .language-active{
  color: rgb(112, 113, 114);
  cursor: default;
}

.map-site ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.map-site ul li{
  list-style-type: none;
  margin-top: 5px;
}

.map-site ul li:first-child{
  margin-right: 20px;
}

.map-site ul li + li{
  margin-right: 10px;
}

.map-site .languages{
  display: flex;
  justify-items: center;  

  margin-top: 5px;
}

.map-site hr {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;  
}

.map-site .map{
  display: flex;
  justify-items: center;
  
  
}

.map-site p {
  margin-top: 25px;
  color: rgb(112, 113, 114);
}

footer{
  text-align: center;

  margin-top: 50px;
}

footer a{
  text-decoration: none;
}

@media screen and (max-width: 1050px){
  header .logo-container{
    width: 500px;
  }

  .left-content{
    display: none;
  }
  .map-site{
    width: 700px;
  }
}

@media screen and (max-width: 700px){
  header .logo-container{
    width: 300px;
  }

  .map-site{
    width: 500px;
  }
}

@media screen and (max-width: 580px){
  header .logo-container{
    display: none;
  }

  header .login-container{
    padding: 4.5rem;
  }

  .map-site{
    width: 400px;
  }  
}

@media screen and (max-width: 440px){

  header .logo-container{
    display: flex;
  }

  header .login-container{
    display: none;
  }

  .content .right-content{
    display: none;
  }

  .content .mobile-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

    width: 100%;
    padding: 2rem;
  }

  .content .mobile-content form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

    padding-bottom: 1rem;
  }

  .content .mobile-content form a{  
    text-decoration: none;
    width: 100%;
    color: white;
    border-radius: 5px;
    background-color: rgb(24, 119, 242);
    text-align: center;
    padding: .5rem;
    font-weight: bold;
    font-size: medium;
    margin-top: 5px;    
  }

  .content .mobile-content form input{  
    height: 38px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgb(218, 223, 233);
    background-color: rgb(245, 246, 247);

    padding-left: 4px;
  }

  .content .mobile-content form input:focus{    
    outline: none;
  }
  .content .mobile-content .separator{
    display: flex;
    justify-items: center;

    margin-bottom: 1rem;
  }
  .content .mobile-content .links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

  .content .mobile-content .links #register{
    background-color: rgb(0, 164, 1);
    padding: .5rem;
    color: white;
    font-weight: bolder;
    border-radius: 2px;
    margin-bottom: 1rem;    
  }

  .content .mobile-content .links #recover{
    color: rgb(139, 167, 209);
    font-weight: bold;
  }  

  .content .mobile-content .links a{
    text-decoration: none;
  }

  .map-site{
    align-items: center;
    width: 100%;
  }

  .map-site .languages{
    margin-top: 20px;
  }

  .map-site .languages #listLanguages{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;
  }

  .map-site ul li:first-child{  
    margin-right: 0;
  }

  .map-site hr {
    display: none;
  }

  .map-site .map {
    display: none;    
  }

  footer{
    margin-top: 10px;
  }
}