*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: rgb(67, 96, 156);
  color: rgb(255,255,255);
}

header .login{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: 
  "labelName labelPassword ."
  "loginName loginPassword btnLogin"
  ". forgotPassword .";
}

header .login input{
  width: 147px;
  height: 23px;
}

header .login #labelName{
  grid-area: labelName;
}

header .login #labelPassword{
  grid-area: labelPassword;
}

header .login #loginName{
  grid-area: loginName;
}

header .login #loginPassword{
  grid-area: loginPassword;
}

header .login #btnLogin{
  grid-area: btnLogin;

  width: 48px;
  height: 23px;

  color: rgb(255,255,255);
  font-weight: bold;
  font-size: 12px;
  background-color: rgb(66, 103, 178);
  border: 1px solid rgb(55, 86, 146);
  border-radius: 3px;

  cursor: pointer;
}

header .login #forgotPassword{
  grid-area: forgotPassword;
}